.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30vw; 
    max-width: 20rem;
    flex: 0 1 auto; 
}

.nav {
    margin-top: 2vh; 
}